@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1100px;
  border : 1px solid #000;
}

body{
  background-color: #eeeded;
}

.removeBtn{
  display: none;
}

.removeIcon{
  height : 1.5rem;
}

.removeIcon:hover .removeBtn{
  display: flex;
}